body {
    background-color: #292929;
    padding: 50px;
}

body * {
    color: white;
    font-family: sans-serif;
}

@media screen and (min-width: 1200px) {
    body div {
        padding: 50px 120px 50px 120px;
    }
}

.main {
    background-color: black;
    padding: 20px;
}

.title {
    color: #E87FFA;
    border-bottom: 2px solid #E87FFA;
    padding-bottom: 50px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}


  